<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog:</h3>
    <form class="new-blog-form">
      <div class="form-group">
        <label class="mt-2" for="blog-name">Blog name:</label>
        <input type="text" class="form-control mt-2 mb-4" id="blog-name" name="blog-name"/>
      </div>

      <div class="form-group">
        <label for="blog-desc">Blog text:</label>
        <textarea class="form-control mt-2 mb-3" id="blog-desc" name="blog-desc" rows="3"></textarea>
      </div>
    
      <div class="form-group">
        <button type="submit" class="btn btn-primary mb-4">Create</button>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Current Blogs:</h3>
  </div>
</div>

    {{#if blogs.length}}
    <div class="blog-list">
      
      {{#each blogs as |blog|}}
      <div class="row mb-2">
        <div class="col-md-3">
          <h4 class="mt-2"><a href="/blog/{{blog.id}}">{{blog.name}}</a></h4>
        </div>
        <div class="col-md-3">
          <form class="my-buttons">
            <input type="hidden" class="form-control my-buttons" id="edit-hidden" value="{{blog.id}}">
            <button id="updateBtn" class="btn btn-sm btn-success mt-2" data-id="{{blog.id}}">UPDATE</button>
          </form>
          <div class="my-buttons">
            <button id="deleteBtn" class="btn btn-sm btn-danger mt-2" data-id="{{blog.id}}">DELETE</button>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
    {{/if}}

<script src="./js/create-blog.js"></script>
<script src="./js/update-blog.js"></script>
<script src="./js/delete-blog.js"></script>